

    .open-4 {
        background-image: url("../assets/open/open1.jpg");
        width: 98%;
        height: 1000px;
        background-size: cover;
        background-position: center;
        opacity: 0.5;
        margin-top: -1800px;
        z-index: 0;
   
    }


.About-Main {
    // width: 100%;
    height: 400vh;
    margin-top: 10vh;
    z-index: 9998;
    padding-left: 30px;
    padding-right: 10px;


    .about-1 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin: 20px;
        margin-bottom: 60px;
        

        .img-1 {
            background-image: url('../assets/mer1.jpg');
            background-size: cover;
            background-position: center;        
            width: 450px;
            height: 500px;
            opacity: 0.8;
            box-shadow: inset 0 0 1em black, 0 0 1em black;        }
    }

    .about-2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

    .img-2 {
        background-image: url('../assets/B454865E-57C6-402D-8A0A-B13051797F07.JPG');
        background-size: cover;
        background-position: center;        
        width: 450px;
        height: 500px;
        opacity: 0.8;
        box-shadow: inset 0 0 1em black, 0 0 1em black;   
    }
    }

    p {
        color: white;
        opacity: 0.9;
        font-size: 28px;
        width: 450px;
        height: 500px;
        text-align: left;
        text-shadow: 6px 6px 6px black;
        // background: linear-gradient(to bottom,  #177f68, #071021);
    }

    p:nth-child(1) {
       text-align: right;
       font-size: 26px;
    }


    .about-open {
        z-index: 9999;
        margin: 12vh;
        display: flex;
        
        p {
            width: 600px;
            font-size: 25px;
        }
        
        justify-content: space-around;
        // background-image: url("../assets/open/open1.jpg");
        // width: 800px;
        // height: 800px;
        // background-size: cover;
        // background-position: center;
        

        // height: 100vh;
        .open-gallery {
                display: flex;
                flex-direction: column;
                width: 600px;
                height: 430px;
                justify-content: space-between;
                

                .open-box1 {
                    display: flex;
                    justify-content: space-between;
                    width: 440px;
                }

                .open-1 {
                    background-image: url("../assets/open/open4.jpg");
                    width: 200px;
                    height: 200px;
                    background-size: cover;
                    background-position: center;
                }
                .open-2 {
                    background-image: url("../assets/open/open3.jpg");
                    width: 200px;
                    height: 200px;
                    background-size: cover;
                    background-position: center;
                }
                .open-3 {
                    background-image: url("../assets/open/open2.jpg");
                    width: 440px;
                    height: 200px;
                    background-size: cover;
                    background-position: center;
                }
        }
    }
   
}