.Contact {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 9999;
    // background-color: #071021;
    background: linear-gradient(to bottom,  #177f68, #071021);
    font-family: 'Open Sans', sans-serif;

    .contact-left {
        width: 30%;
        height: 40vh;
        margin-top: 15vh;
        color: #fff;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        // background-image: url("../assets/mer4.jpg");
        // background-size: cover;
        // background-position: center;        
        // // width: 450px;
        // height: 80vh;
        // opacity: 0.8;
        // box-shadow: inset 0 0 1em black, 0 0 1em black; 
        // opacity: 0.7;
        // -webkit-filter: blur(2px);
        // -moz-filter: blur(2px);
        // -o-filter: blur(2px);
        // -ms-filter: blur(2px);
        // filter: blur(2px);
    }

    .contact-right {
        width: 30%;
        z-index: 9999;
        color: whitesmoke;
        margin-top: 15vh;
        

        h3 {
            margin-left: 100px;
        }

        form {
            margin-top: 5vh;
            margin-left: -20px;
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            .row1 {
                display: flex;
                justify-content: space-around;
                margin-bottom: 20px;

                .formUp {
                    height: 30px;
                    margin: 10px;
                    border-radius: 10px;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    background: none;
                    border-bottom: solid 1px white;
                    color: white;
                    font-size: 16px;
                    margin-bottom: 10px;
                    
                }
            }
            .formMessage {
                height: 80px;
                width: 400px;
                border-radius: 10px;
                border-top: none;
                border-left: none;
                border-right: none;
                background: none;
                border-bottom: solid 1px white; 
                color: white;    
            font-size: 16px;       }

        }
    }

    
    .filterContact {
        background-color: #071021;
        background-image: url('../assets/mer4.jpg');
//          filter: blur(8px);
//   -webkit-filter: blur(8px);
       //  background-blend-mode: screen;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 80% 50%;
        background-size: contain;
        z-index: 0;
        // width: 1200px;
  height: 1000px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
        opacity: 0.3;
  position: fixed;
  left: 0;
  right: 0;
        
    }


}


.sendButton {
    //   color: $color4;
      width: 100px;
      align-self: center;
    //   border-color: $color4;
      border-radius: 25px;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 20px;
      padding: 5px;;
    
    }
    
    .sendButton:hover{
    //   color: $color3;
      cursor: pointer;
      background-color: #CCFBFF
    }

