


.HomeTest {
  width: calc(100vw - (100vw - 100%));

}


.home-nav-list {
  border-radius: 12px;
  // color: $color4;
  // color:darken( #fff, 20%);
  // text-shadow: 1px 1px 5px gray;
  position: fixed;
  height: 120px;
  width: 70px;
  padding: 10px;
  background-color: rgba(76, 95, 103, 0.3);
  z-index: 9999;
  margin-left: 1vw;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Krona One', sans-serif;
  font-size: 14px;
}
@media (max-width: 780px) {
  .home-nav-list {
    display: none;
    // color: $color4;
    position: fixed;
    height: 20px;
    width: 210px;
    padding: 10px;
    background-color: rgba(76, 95, 103, 0);
    z-index: 9999;
    // margin-left: -10px;
    padding-left: 0px;
    margin-top: -0px;
    font-family: 'Krona One', sans-serif;
  }
}
.home-nav-list-link {
  margin: 10px;
  cursor: pointer;
}

.home-about-us-container {
  // background-color: $color2;
  // height: 90vh;
  // color: $color4;
}

.home-contact-container {
  // background-color: $color4;
  // height: 90vh;
  width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
}