* {
    margin: 0;
    padding: 0;
    }

  //   * {
  //     background: #000 !important;
  //     color: #0f0 !important;
  //     outline: solid #f00 1px !important;
  // }


    @import "./navigationWithButton";
    @import "./about";
    @import "./footer";
    @import "./music";
    // @import "./productSample";
    @import "./dance.";
    @import "./shop";
    @import "./contact";
    @import "./home";

    @import "~react-image-gallery/styles/scss/image-gallery.scss";

    .main-gallery-container {
        position:absolute;
        top:0px;
        height: 100vh;
        width: 100vw;
       
    }

    .home {
        // z-index: 9999;
        display: flex;
        flex-direction: column;
        z-index: 9999;
        // background-color: #071021;
        background: linear-gradient(to bottom,  #177f68, #071021);
        @media (max-width:450px){
          width: 100vw;
        }

    }

    .arrow {
      // margin-left: 22px;
      // margin-right: 5px;
      background-image: url("../assets/down-arrow-multimedia-option-svgrepo-com.svg");
      background-size: cover;
      opacity: 0.6;
     margin-top: 65vh;
     margin-left: 48%;
      background-repeat: no-repeat;
      background-position: center;
      border: 1px solid transparent;
    border-radius: 10px;
      background-color: lighten( #177f68, 15%);
      width: 54px;
      height: 54px;
      &:hover{
        border: 3px solid #fff;
        border-radius: 25%;
      }
      @media (max-width:450px){
        margin-left: 38%;
        margin-top: 58vh;
        background-size: contain;
      }
    }

    .titleHome {
        background-image: url('../assets/fb_zdj_w_tle_1.jpg');  
        width: 100%;
        height: 800px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        position: absolute;
        top:0;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Krona One', sans-serif;

        text-shadow: grey;

        @media (max-width:450px){
          height: 100vh;
          h1 {
            font-size: 30px;
          }

          h2 {
            font-size: 20px;
          }
       
        }


        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // color: darken( #fff, 10%);
        color: #fff;
        h1, h2 {
            opacity: 0.7;
            text-shadow: 6px 6px 6px black;

            
            
        }
    }


    .filterMain {
      width: 95vw;

      @media (max-width:450px){
        width: 100vw;
      }

        background-color: #071021;
        background-image: url('../assets/mer3.jpg');
//          filter: blur(8px);
//   -webkit-filter: blur(8px);
       //  background-blend-mode: screen;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        z-index: 0;
        // width: 1200px;
  height: 800px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
        opacity: 0.2;
  position: fixed;
  left: 0;
  right: 0;
        
    }

    video {
        height: 900px;
        width: 100%;
        // margin-top: 600px;
    }
      

    .glow {
        font-size: 80px;
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
        }
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
      }