* {
    margin: 0;
    padding: 0;
    }


    @import "./navigationWithButton";
    // @import "./productSample";

    @import "~react-image-gallery/styles/scss/image-gallery.scss";

    .main-gallery-container {
        position:absolute;
        top:0px;
        height: 100vh;
        width: 100vw;
        background-color: #071021;
    }